$color: purple;

#main > h1{
    border: 4px solid $color;
    padding: 20px;
}




#canvasDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;

}

/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #8495c0;
    background: {
            image: url(https://cdn.myportfolio.com/36395623ee1ffcbee4736454f949168b/2503a3a5-3a3d-43b1-ab33-4dab2fab52d5_rw_1920.jpg?h=266a1ab662d6fe47b280b94563598b7c);
            position: bottom;
            repeat: no-repeat;
            color: white;
            size: cover;
        }

    // z-index: -2;
}

/* ---- stats.js ---- */
.count-particles {
    position: absolute;
    width: 80px;
    color: #13E8E9;
    font-size: 45px;
    text-align: center;
    text-indent: 4px;
    line-height: 20px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    top: 50%;
    left: 50%;
    margin-left: -70px;
    margin-top: -50px;
}

.count-particles span{
    
}


.count-particles button{
    padding: 25px 30px;

    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    display: none;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}





